* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

::-webkit-scrollbar-track {
  background: #111419;
  border-radius: 0;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background: #dddddd;
  border: 1px solid #111419;
  border-radius: 5px;
}

html {
  height: 100%;
  width: 100%;
}

.marquee-container {
  display: flex;
  overflow: hidden;
  position: relative;
}

.marquee-content {
  display: flex;
  animation: marquee 50s linear infinite;
}

.marquee-container:hover .marquee-content {
  animation-play-state: paused;
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(-50%);
  }

  100% {
    transform: translateX(0%);
  }
}


::selection {
  color: black;
  background: rgb(22, 182, 80);
}

.shine-effect {
  background: linear-gradient(120deg, rgba(255, 255, 255, 0.3) 25%, rgba(138, 138, 138, 0.37) 50%, rgba(255, 255, 255, 0.3) 75%);
  background-size: 200% 100%;
  animation: shine 6s infinite;
  /* animation: forwards ; */
}

@keyframes shine {
  0% {
    background-position: -200%;
  }

  50% {
    background-position: 200%;
  }

  100% {
    background-position: -200%;
  }
}

.revolve {
  animation: revolveRedDiv 5s linear infinite;
  transform-origin: center;
}

@keyframes revolveRedDiv {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}